*{
    margin: 5;
    padding: 5;
    text-decoration: none;
   /* list-style: none; */
}
body{
    background-color: aquamarine;
}
button{
    color: blue;
    background-color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
}
.formulario{
    font-family: 'Merriweather', serif;
}